.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.wallets-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.wallets-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.wallets-image {
  width: 192px;
  height: 60px;
}
.wallets-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.wallets-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wallets-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.wallets-container1 {
  width: 100%;
  height: 26px;
  display: flex;
  align-items: flex-start;
  border-color: #b7d8c1;
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
  background-color: #b7d8c1;
}
.wallets-banner {
  width: 100%;
  height: 136px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: 51px;
  justify-content: space-between;
}
.wallets-text {
  font-size: 3rem;
  text-align: center;
}
.wallets-text01 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.wallets-container2 {
  width: 100%;
  height: 26px;
  display: flex;
  align-items: flex-start;
  border-color: #d0b2b2;
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
  background-color: #d0b2b2;
}
.wallets-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.wallets-container4 {
  flex: 0 0 auto;
  width: 794px;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.wallets-text02 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.wallets-text04 {
  font-weight: 600;
}
.wallets-image1 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.wallets-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.wallets-container5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.wallets-text05 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.wallets-text07 {
  font-weight: 600;
}
.wallets-text08 {
  margin-right: var(--dl-space-space-threeunits);
}
.wallets-image2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.wallets-banner2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.wallets-container6 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.wallets-text09 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.wallets-text11 {
  font-weight: 600;
}
.wallets-text12 {
  margin-right: var(--dl-space-space-threeunits);
}
.wallets-image3 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
@media(max-width: 991px) {
  .wallets-image1 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .wallets-banner1 {
    flex-direction: column;
  }
  .wallets-container5 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .wallets-text08 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .wallets-image2 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .wallets-banner2 {
    flex-direction: column;
  }
  .wallets-container6 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .wallets-text12 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .wallets-image3 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
}
@media(max-width: 767px) {
  .wallets-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .wallets-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .wallets-nav {
    display: none;
  }
  .wallets-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .wallets-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .wallets-text08 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .wallets-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .wallets-text12 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .wallets-header {
    padding: var(--dl-space-space-unit);
  }
  .wallets-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .wallets-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .wallets-image1 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .wallets-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .wallets-image2 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .wallets-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .wallets-image3 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
}
